.popularProductsContainer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 2em;
    padding: 0 2em;
    margin: 2em 0;
}
.order {
    grid-area: order;
}
.step {
    background: #fff;
    border-radius: 2px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    padding: 1em;
}
.title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
}  