<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
.buttonContainer {
  margin: 1em;
}

>>>>>>> op-33-view-product-reviews
.createButton {
  margin-left: 10px;
  cursor: pointer;
}

.promoButton {
  margin-left: 10px;
  cursor: pointer;
}

.promoButton {
  margin-left: 10px;
}
<<<<<<< HEAD
>>>>>>> 3cd3349f19af760ce835af4091b8a05c448b6af1
=======

>>>>>>> 5cee39ccf227d7e9ef6f94ab9b26b79dcf5b9dc2
.failure{
	background-color: #e74c3c;
	margin-left: 10px;
}

.success{
	background-color: #07bc0c;
	margin-left: 10px;
}

.warning{
  background-color: #f1c40f;
  margin-left: 10px;
}

.table {
  margin: -2px;
  text-align: center;
  color: #231E23;
  background: #DEEEEA;
  font-size: 10pt;
  border-collapse: collapse;
}

  table thead th,
  table tfoot th {
    color: #231E23;
    background: #BF1363;
    border-collapse: collapse;
  }

  table caption {
    padding:.5em;
  }
  
  table th,
  table td {
    padding: .5em;
    border: .5px solid #231E23;
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background-color: #39A6A3;
  }

  .actionButtons {
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    height: 3em;
    width: 3em;
    color: rgb(85, 83, 83);
  }

  .actionButtons:hover {
    background-color: rgb(211, 211, 211, 50%);
  }

