.buttonCart{
    display: flex;
    height: 2em;
    justify-content: space-around;
    flex-basis: 15%;
}
.buttonFav{
    float: left;
    padding: 0 !important;
    left: -5px;
}
.buttonRow{
    display: flex;
    flex-basis: 100%;
    height: 2em;
    justify-content: space-between;
}
.buttonQty{
    display: flex;
    height: 2em;
    justify-content: center;
    flex-basis: 20%;
}
.buttonRating{
    display: flex;
    height: 2em;
    justify-content: center;
    flex-basis: 37%;
}
.buttonRev{
    display: flex;
    flex-basis: 15%;
    height: 2em;
}
.buyNow{
    display: flex;
    flex-basis: 100%;
    justify-content: right;
    height: 2.5em;
    align-content: center;
}
.buyNowButton{
    width: 8em;
    background-color: cornflowerblue;
    float: right;
    height: 2em;
    margin-top: 2px;
    margin-left: 1em;
}
.closeModal{
    display: flex;
    width: 2em;
    height: 2em;
    float: right;
    border: none;
    background: none;
    cursor: pointer;
    background-color:cornflowerblue;
    align-items: center;
    justify-content: center;
    margin: -7px,0,0, 5px;
}
.colorSwatch {
    height: 25px;
    width: 75px;
    border: 1px solid black;
    z-index: 11;
  }
.descInnerBox{
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
    height: 88px;
    padding: 7px;
    width: 286px;
    display: flex;
}
.reviewContentOuterBox,
.descOuterBox{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    height: 102px;
}
.descSpacer{
    display: flex;
    flex-basis: 14%;
    height: 102px;
}
.descText{
    height: 74;
    justify-content: center !important;
    align-content: center !important;
    display: flex;
}
.errMsg {
    color: red;
    font-size: 14px;
    margin: 0px 2px 4px 4px;
  }
.favorite{
    float: left;
    padding: 0;
    left: -6px;
}
.header100 {
    align-content: center;
    margin: 2px;
    justify-content: center;
    flex-basis: 100%;
    display: flex;
}
.header90{
    align-content: center;
    margin: 2px;
    justify-content: center;
    flex-basis: 90%;
    display: flex;
}
.header10{
    align-content: center;
    margin: 2px;
    justify-content: center;
    flex-basis: 10%;
    float: right;
    display: flex;
}
.imageBorder{
    display: flex;
    outline: 1px solid black;
    width: 300;
    justify-content: center;
}
.imageBox{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
.imageSpacer{
    display: flex;
    flex-basis: 14%;
    height: 168px;
}

 .reviewInput {
    margin-top: .1em;
    width: 250px;
    padding: .5em;
    box-sizing: border-box;
  }
  
  .reviewLabel {
    display: flex;
    font-weight: 700;
    color: #666666;
    margin-bottom: .1em;
  }
  
  .reviewErrorMsg {
    font-size: 14px;
    color: red;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: 300px;
    height: 1.5em;
    margin: 3px;
  }
.MuiIconButton-root {
    padding: 0px;
}
.priceDiv{
    display: flex;
    flex-basis: 100%;
    padding-top: 10px;
    padding-bottom: 4px;
}
.productModalContainerReviewsClosed{
    max-width: 450px;
    border-radius: 12px;
    background: #DEEEEA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    top: 5em;
    position: fixed;
    overflow-y: scroll;
    height: 30em;
}
.productModalContainerReviewsOpened{
    max-width: 450px;
    border-radius: 12px;
    background: #DEEEEA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    top: 5em;
    position: fixed;
    overflow-y: scroll;
    height: 35em;
}
.productModalBackground{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    z-index: 11;
    top: 50px;
    background-color: rgba(0,0,0,0.20);
}
.reviewButtonRow{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    height: 2.5em;
    align-content: center;
}
.reviewButton{
    width: 8em;
    background-color: cornflowerblue;
    float: right;
    height: 2em;
    margin-top: 12px;
    margin-left: 1em;
}
.reviewViewButton{
    width: 8em;
    background-color: cornflowerblue;
    float: right;
    height: 2em;
    margin-top: 12px;
}
.reviewCreateReviewDiv{
    display: flex;
    flex-basis:60%;
    height: 2em;
    align-items: center;
    padding-left: 3px;
    justify-content: left;
}
.reviewSubmitDiv{
    display: flex
}
.reviewSubmitButtonRow{
    display: flex;
    flex-basis: 100%;
    height: 2em;
    justify-content: center;
}
.reviewFormContainer{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap;
    margin-top: 2.5em;
}
.reviewFormOuterBox{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
}
.reviewTitleRow{
    display: flex;
    flex-basis: 90%;
    justify-content: center;
    border: 1px solid black;
    align-content: center;
    height: 4em;
}
.reviewTitleBox{
    display: flex;
    width: 300px;
    height: 3em;
}
.reviewTitleInput{
    display: flex;
    width: 300px;
    height: 1.5em;
}
.reviewCommentInputBox{
    display: flex;
    justify-content: left;
    height: 10em;
    width: 300px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-wrap:normal;
}
.reviewCommentRow{
    display: flex;
    flex-basis: 90%;
    justify-content: center;
    height: 11em;
    border: 1px solid black;
    align-content: center;
    margin-bottom: 1em;
}
.reviewCommentTextArea{
    display: flex;
    justify-content: left;
    height: 8em;
    width: 300px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-wrap:normal;
}
.reviewNoSeparator{
    width: 0px;
}
.reviewRatingErrorMsg{
    font-size: 14px;
    color: red;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: 200px;
    margin: 0px;
}
.reviewRatingP{
    display: flex;
    justify-content: left;
    height: 2em;
}
.reviewRatingPDiv{
    display: flex;
    flex-basis: 45%;
    justify-content: center;
    height: 2em;
}
.reviewRatingRow{
    display: flex;
    flex-basis: 90%;
    flex-wrap: wrap;
    height: 4em;
    justify-content: center;
    margin-bottom:5px;
    align-items: center;
}
.reviewRatingBoxValid{
    display: flex;
    flex-wrap: wrap;
    height: 4em;
    justify-content: space-between;
    width: 300px;
    margin-bottom:5px;
    align-items: center;
    border: 1px black;
}
.reviewRatingBoxInvalid{
    display: flex;
    flex-wrap: wrap;
    height: 4em;
    justify-content: space-between;
    width: 300px;
    margin-bottom:5px;
    align-items: center;
    border: 2px red;
}
.reviewRatingStars{
    display: flex;
    height: 2em;
    justify-content: center;
    flex-basis: 35%;
    align-items: center;
}
.reviewViewDiv{
    display: flex;
    flex-basis: 15%;
    height: 2em;
}
.reviewViewClosedDiv{
        display: flex;
        height: 2em;
        width: 0px;
}
.red{
    color: red;
}
.sortButton {
    width: 8em;
    background-color: cornflowerblue;
    text-align: center;
    height: 2em;
    margin-top: 5em;
}
.spinnerDiv {
    display: flex;
    justify-content: center;
    float: center;
}
.spinnerInput {
    display: flex;
    width: 2em !important;
    justify-content: flex-start;
    cursor: default;
    padding: 0, 2px, 0, 2px !important;
    border-radius: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.submitOrCancelButton{
    width: 8em;
    background-color: cornflowerblue;
    float: right;
    height: 2em;
    margin-left: 1em;
}
.swatchDiv{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    height: 2.5em;
}
.swatchSeparator{ /* center the swatched around this space */
    flex-basis: 10%;
    display: flex;
}

.app {
    display: grid;
    grid-gap: 15px;
    justify-content: space-evenly;
    margin: 20px;
    padding-top: 3%;
  }

