.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  margin: 20px;
  padding-top: 3%;
}
.paginationContainer {
  list-style: none;
  text-align: center;
}

.pagination {
  list-style: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.last,
.first,
.prev,
.next {
  background-color: cornflowerblue;
  border: none;
  width: 10em;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.pageSelector {
  border: none;
  height: 3em;
  width: 3em;
  cursor: pointer;
  list-style: none;
  border-radius: 5px;
}

.paginationLi {
  list-style: none;
  float: left;
}

.navigation{
  position:absolute;
  left:0;
  bottom: 65px;
  right:0;
}

.spacing{
  padding: 20px;
}