.cardArrangement {
    display: flex;
    justify-content: center;
}

.cardCollection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardSpacing {
    display: flex;
}

.cardCollection > * {
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.centeredMessage {
    display: flex;
    justify-content: center;
}