.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7em;
  z-index: 11;
}

.bluredBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  background-color: rgb(255,255,255,0.75);
  justify-content: center;
  align-items: center;
  margin-top: -7em;
  z-index: -1;
}

.closeButton {
  width: 3em;
  height: 3em;
  margin-left: 90%;
  border: none;
  background: none;
  cursor: pointer;
}

.modalContainer {
  margin-top: -3em;
  width: 500px;
  height: 550px;
  border-radius: 12px;
  background: #DEEEEA;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainerBlur {
  margin-top: -3em;
  width: 500px;
  height: 550px;
  border-radius: 12px;
  background: #DEEEEA;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  filter: blur(4px);
  cursor: progress;
}

.title {
  display: inline-block;
  text-align: center;
  margin-top: -1em;
  color: cornflowerblue;
  margin-bottom: -1em;
}

.body {
  flex: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 19px;
}

.footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.footer button:hover {
  box-shadow: 0 0 0 2px cornflowerblue;
}

label {
  margin-top: 1em;
  font-size: large;
}

h4 {
  display: block;
  font-weight: 700;
  color: #666666;
  margin-bottom: .1em;
}

.percentCheck {
  margin-top: 1em;
  cursor: pointer;
}
