.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

}
=======
.app {
  min-height: 100vh;
  min-width: 100%;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.pages {
  padding-top: 100px;
  /*padding-bottom: 80px;*/ /*add it if footer postion changed to absolute or fixed 'only'*/
}
>>>>>>> 3cd3349f19af760ce835af4091b8a05c448b6af1
