.modalBlur{
    filter: blur(2px);
    display: flex;
}
.modalClosed{
    display: flex;
}
.red{
  color:red;
}
.grey{
  color:gray;
}
.ripple {
  background-position: center;
  transition:  0.8s;
}
.ripple:hover {
  background: lightgreen radial-gradient(circle, transparent 1%, limegreen 1%) center/15000%;
}
.ripple:active {
  background-color: limegreen;
  background-size: 100%;
  transition: 0s;
}
