@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinnerContainer {
    width: 100vw;
    height: 100vh;
    margin-top: -10em;
    position: fixed;
    cursor: progress;
    z-index: 99;
    background-color:rgba(155, 155, 155, .50);
}
.loadingSpinner {
    flex: 1;
    width: 50px;
    height: 50px;
    border: 20px solid cornflowerblue;
    border-top: 20px solid #DEEEEA;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    margin-top: 20%;
    margin-left: 47%;
  }
  