.addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContainer {
    max-width: 750px;
}

.container {
    display: flex;
}

.container > * {
    flex: 1 1;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}