.searchBarContainer input {
    border-radius: 6px;
    font-size: 1rem;
    height: 25px;
    width: 250px;
    background-color:#eef5f3;
    
}
.searchIconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.searchIconSend {
    cursor: pointer;
}
