.listItem:hover {
  background-color: #cee7e1;
}

.listItem {
  list-style: none;
  padding: 1rem 2rem;
  font-size: medium;
  margin: -10px 0;
}
  
.dropDownHeader {
  display: flex;
  color: cornflowerblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: -5%;
  list-style: none;
  height: 30px;
  text-decoration: none;
  font-size: 20px;
}
  
.content {
  padding: 12px;
  color: cornflowerblue
}
  
.subMenuButton {
  background: transparent;
  border: none;
  cursor: pointer;
}
  
.subMenuData {
  vertical-align: middle;
}
  
.subMenuOpen {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
}

.buttonContainer {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.buttons {
  width: 70%;
  height: 30px;
  background-color:cornflowerblue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  margin-bottom: 1em;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
}

.buttons:hover {
  box-shadow: 0 0 0 2px cornflowerblue;

}

.colorSwatch {
  float: right;
  margin-right: 50%;
}


.priceInputs {
  display: flex;
  gap: 4%;
  margin-top: 1em;
}

.priceLabels {
  display: flex;
  gap: 50%;
  margin-left: 2em;
  margin-bottom: -2em;
}

.input {
  width: 80%;
  border-radius: 5px;
  outline: none;
  border:1px solid gray;
}

.filterErrors{
  margin-top: 3em;
  font-size: small;
  text-align: center;
  color: red;
}

