.header {
  z-index: 10;
  height: 100px;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #deeeea;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  opacity: 100;
}

img {
  width: 80px;
  height: auto;
}

.logoverticalcenter {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  mix-blend-mode: color-burn;
}

.googlelogin {
  justify-content: right;
  float: right;
}

.googleloginverticalcenter {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  object-fit: contain;
}

.cartverticalcenter {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  object-fit: contain;
}
.favoriteverticlecenter{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  object-fit: contain;
}
.profileColor {
  background-color: #bf1363 !important;
}

.profileIcon {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 110%;
  transform: translateY(-50%);
  object-fit: contain;
}
.searchContainer {
  display: flex;
  flex-direction:row-reverse;
  position: absolute;
  margin-left: 126px;
  margin-top: 31px;
}
.searchBarToggle{
  display: flex;
  flex-direction:row-reverse;
  position: absolute;
  margin-left: 120px;
  margin-top: 30px;
}
.red{
  color: red;
}