.Footer {
<<<<<<< HEAD
    background-color: #DEEEEA;
    place-items: center;
    position: sticky;
    top: 100vh;
    bottom: 0;
  }
  .Inc{
      color: #231E23;
      text-align: center;
      font-size: 25px;
      font-family:garamond,serif;
  }
  
=======
  background-color: #DEEEEA;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  top: 100vh;  /*add it only with sticky*/
}
.Inc {
  color: #231e23;
  text-align: center;
  font-size: 25px;
  font-family: garamond, serif;
}
>>>>>>> 3cd3349f19af760ce835af4091b8a05c448b6af1
