.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  margin: 20px;
  padding-top: 3%;
}

.appPopularProducts {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, auto);
  margin: 10px;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}

.container {
  margin-left: 15em;
  transition: all ease-in-out 600ms;
}

.normal {
  margin-left: 0;
  transition: all ease-in-out 600ms;
  
}
.filterButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  justify-content: space-evenly;
  padding-top: .5em;
  margin-left: 20px;
  margin-top: 7em; 
  margin-bottom: 1em;
  position: fixed;
  top: 1rem;
  cursor: pointer;
  border: none;
  background-color: cornflowerblue;
}

.filterButtonContainer {
  height: 100px;
  z-index: 1;
  margin-top: -3.7em;
  position: fixed;
  width: 100%;
  background-color: rgba(238, 238, 238, 1);
}
.modalBlur{
  filter: blur(2px);
}
.sidebar {
  position: fixed;
  background-color: #DEEEEA;
  color: cornflowerblue;
  top: 0em;
  left: 0;
  height: 100vh;
  width: 280px;
  z-index: 1;
  margin-left: -58vw;
  transition: ease-in-out 1s;
}

.sidebarOpen {
  position: fixed;
  background-color: #DEEEEA;
  color: cornflowerblue;
  top: 0em;
  left: 0;
  height: 100vh;
  width: 15em;
  z-index: 1;
  margin-left: 0;
  transition: ease-in-out 550ms;
  overflow-y: scroll;
}

.title {
  margin-top: 0rem;
  text-align: center;
  margin-top: 0em;
}

.closeButton {
  display: flex;
  padding: 11px;
  margin-top: 6em;
  margin-left: 76%;
  cursor: pointer;
}

.paginationContainer {
  list-style: none;
  text-align: center;
}

.pagination {
  list-style: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.buttonTest {
  background-color: cornflowerblue;
  border: none;
  width: 10em;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
.buttonTestDiv {
  height: 100px;
  z-index: 3;
  width: auto;
}
.last,
.first,
.prev,
.next {
  background-color: cornflowerblue;
  border: none;
  width: 10em;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.pageSelector {
  border: none;
  height: 3em;
  width: 3em;
  cursor: pointer;
  list-style: none;
  border-radius: 5px;
}

.paginationLi {
  list-style: none;
  float: left;
}

.navigation{
  position:absolute;
  left:0;
  bottom: 65px;
  right:0;
}

.spacing{
  padding: 20px;
}

.input {
  margin-top: .1em;
  width: 350px;
  padding: .5em;
  box-sizing: border-box;
}

.label {
  display: block;
  font-weight: 700;
  color: #666666;
  margin-bottom: .1em;
}

.errorMsg {
  font-size: 14px;
  color: red;
}

div::-webkit-scrollbar {
  width: 10px; 
  width: 7px !important;             
}

div::-webkit-scrollbar-track {
  background: #DEEEEA;      
}

div::-webkit-scrollbar-thumb {
  background-color: #c5e0d9;
  border-radius: 22px;
}
.noProduct {
  padding-top: 100px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-family:monospace;
  animation: fadeIn linear 3.5s;
  -webkit-animation: fadeIn linear 3.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.searchedTerm {
  padding-top: 50px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-family:monospace;
}

