.modalConfirmButton {
  background: #045f27;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 2em;
  width: 150px;
  margin-top: 100px;
}
.modalBackButton {
  background: #b94f11;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 2em;
  width: 150px;
  margin-right: 10px;
  margin-top: 100px;
}
.modalBackground {
  opacity: 1 !important;
  background: #fff;
  border-radius: 2px;
  box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
  padding: 1em;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay{
    background-color:rgba(155, 155, 155, .90);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}