.checkoutContainer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "order    delivery    payment"
    "order    delivery    summary"
    "order    delivery    payNow";
  gap: 1em 2em;
  padding: 0 2em;
  margin: 2em 0;
}

.popularProductsContainer {
  display:-moz-grid-line;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em 2em;
  padding: 0 2em;
  margin: 2em 0;
}

.delivery {
  grid-area: delivery;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.payNow {
  grid-area: payNow;
  display:grid;
}

.payButton {
  background: #666666;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 3em;
  justify-self: center;
  width: 75%;
}

.shippingDiscountButton {
  background: #666666;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 3em;
  justify-self: center;
  width: 75%;
}
.step {
  background: #fff;
  border-radius: 2px;
  box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
  padding: 1em;
}

.stepPopularProducts {
  background: #fff;
  border-radius: 2px;
  box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
  padding-bottom: 2px;
}

.summary {
  grid-area: summary;
}

.title {
  text-transform: uppercase;
  color: #666666;
  margin: 0 0 1em 0;
}

.titlePopularProducts {
  text-transform: uppercase;
  color: #666666;
  margin: 8px;
}

.toastButton{
  background: #e74c3c !important;
}

.useSameAddress {
  display: inline-block;
  margin: 1em 1em 0 0;
}

.sameAddressText {
  color: #666666;
  font-weight: 700;
}

.popularProductsButton {
  background-color: lightskyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-right: 16px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: auto;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonLocationPopularProducts {
  text-align: right;
}

.popularProductsButton:hover {
  cursor: pointer;
}