p {
  color: #666666;
}

.orderItem {
  display:grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  align-items: center;
}
.itemTitle {
  font-weight: 700;
}

.price {
  align-self: end;
  justify-self: end;
}
